@charset "utf-8";

/*스포카 한 산스 네오 */
@font-face {
	font-family: 'SpoqaHanSansNeo';
	font-weight: 100;
	font-style: normal;
	src: url('./font/SpoqaHanSansNeo-Thin.woff') format('woff');
}
@font-face {
	font-family: 'SpoqaHanSansNeo';
	font-weight: 300;
	font-style: normal;
	src: url('./font/SpoqaHanSansNeo-Light.woff') format('woff');
}
@font-face {
	font-family: 'SpoqaHanSansNeo';
	font-weight: 400;
	font-style: normal;
	src: url('./font/SpoqaHanSansNeo-Regular.woff') format('woff');
}
@font-face {
	font-family: 'SpoqaHanSansNeo';
	font-weight: 500;
	font-style: normal;
	src: url('./font/SpoqaHanSansNeo-Medium.woff') format('woff');
}
@font-face {
	font-family: 'SpoqaHanSansNeo';
	font-weight: 700;
	font-style: normal;
	src: url('./font/SpoqaHanSansNeo-Bold.woff') format('woff');
}
